<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <div class="intro-heading">LuminoWorks</div>
                    <div class="searchcenters">
                        <input name="locationfield" id="locationfield" type="text" class="input-text" value="Location" placeholder="Location">
                    </div>
                   </div>
            </div>
        </div>

    </div>
</div>
