
<nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll col-lg-4">
           
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lumheadnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        
            <a href="javascript:void(0)" class="luminlogo" title="LuminoWorks"></a>
        </div>
<div class="col-lg-4 text-right" style="padding-right:100px;"> <button class="button button1">package deals</button></div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse col-lg-4" id="lumheadnav">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#services"  du-smooth-scroll du-scrollspy>Services</a>
                </li>
                <li>
                    <a  href="#about"  du-smooth-scroll du-scrollspy>About</a>
                </li>
                <li>
                    <a href="#/register" >Register</a>
                </li>
                <li>
                    <a class="page-scroll" href="#/login">Login</a>
                </li>
            </ul>
        </div>
    <script>
         $(document).ready(function(){
        $( "img" ).hover(function() {
             alert('');
        });
   
    
$( "img" )
  .mouseover(function() {
    
    alert($( this ).attr('alt'));
  })
  .mouseout(function() {
    alert($( this ).attr('alt'));
  });
 
    });
    </script>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
