<lworks-header></lworks-header>
<!--Banner Section-->
<div class="intro-header" style="padding:0px;">
    <div class="container-fluid" >
        <span class="col-lg-3" >
        </span>
        <span class="col-lg-6">
       
    <div class="container" >
          <div class="intro-message" >
              
                    <div class="lw-heading"><h2>FIND A PHOTOGRAPHER NEAR YOU</h2></div>
           <div class="form-group container-fluid">
					<span class="col-lg-2"></span>
                    <span class="col-lg-8">
                    <div class="inner-addon right-addon ">
                    <a href="#/search"><li class="glyphicon glyphicon-search" ></li></a>
                  <input	type="text" class="form-control searchBox" id="searchBox" placeholder="Search By City...    ">
                    </div>    
      
                    </span>
                    <span class="col-lg-2"></span>
           </div>
               
          
        </div>
</div> </span>
        <span class="col-lg-3 text-right" style="vertical-align: middle;text-transform: full-width;font-size: 1.2em;font-weight:500;">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div><a href="javascript:void(0)" style="color:#fff">How does it work?</a></div> 
            <div><a href="javascript:void(0)" style="color:#fff">Read what users have to say.</a></div> 
            <div><a href="javascript:void(0)" style="color:#fff">What's new & FREE :).</a></div> 
        </span>
    </div>
<div class="row">
        <div class="col-lg-2 col-sm-4 col-xs-6 srv-list col-offset-6 centered" >
            <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list text-center" >
                <div class="imgcaption"><div class="overlay"><h2>BirthDay</h2></div></div>
            </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 srv-list text-center" >
            <div class="imgcaption"><div class="overlay"><h2>Baby </h2></div></div>
        </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list text-center" >
                <div class="imgcaption"><div class="overlay"><h2>commercial</h2></div></div>
            </div>
          <div class="col-lg-2 col-sm-4 col-xs-6 srv-list text-center">
                <div class="imgcaption"><div class="overlay"><h2>pre-wedding</h2></div></div>
            </div>
        <div class="col-lg-2 col-sm-4 col-xs-6 srv-list col-offset-6 centered" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
        </div>
 </div>


     <div class="row srvlstContainer" >
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                 <div class="imgcaption"><div class="overlay"><h2>nature</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>archeological</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>sports</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                 <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list">
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
            <div class="col-lg-2 col-sm-4 col-xs-6 srv-list" >
                <div class="imgcaption"><div class="overlay"><h2>wedding</h2></div></div>
            </div>
           

        </div>
    <hr class="style-two">
    <div class="row text-center" style="text-align:top;position:relative;top:-33px;"><a href="javascript:void(0)" class="srvcmoreicon"><i class="fa fa-angle-double-down fa-1x arw" style="padding-top:0px;"></i><i class="fa fa-angle-double-up fa-1x" style="display:none;padding-top:0px;"></i> </a>
    </div>
</div>
<!-- Photo Gallery -->
<div class="photosamples">
    
   
    <div class="container-fluid">
         <h3>POPULAR ALBUMS</h3>
    <div class="item1 thumbgal">
                   <a href="javascript:void(0)"><div class="thumb"><img src="../images/baby1.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bride5.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/prewed1.jpeg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bride4.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/makeup.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bride5.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/prewed1.jpeg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/travel1.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/baby1.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bride5.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/prewed1.jpeg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bridelight1.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/baby1.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bride5.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/prewed1.jpeg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/travel2.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bride3.jpg"></div></a>
                    <a href="javascript:void(0)"><div class="thumb"><img src="../images/bride.jpg"></div></a>
 </div>
  </div>  
    
    
    
    <div><h3>Photo albums from the renowned photographers onborded by Luminoworks.</h3></div>
<div class="prewed">
    
   
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
     <div id="carousel" class="carousel slide" data-ride="carousel">
       <div class="clearfix">
            <h5 style="text-transform: full-width;font-weight:bold;">Pre-Wedding photoshoot</h5>
        <div id="prewedcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="../images/prewed1.jpeg"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="../images/bride5.jpg"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="../images/prewed1.jpeg"></div>
								
                </div><!-- /item -->
                <div class="item">
                    <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="../images/bride5.jpg"></div>
                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="../images/prewed1.jpeg"></div>
                </div><!-- /item -->
            </div><!-- /carousel-inner -->
            <a class="left carousel-control" href="#prewedcarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#prewedcarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- /thumbcarousel -->
    </div><!-- /clearfix -->
    </div> <!-- /col-sm-6 -->
  
  </div> <!-- /row -->
</div> <!-- /container -->
    
</div>
<div class="wed">
    
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
     <div id="carousel" class="carousel slide" data-ride="carousel">
       <div class="clearfix">
            <h5 style="text-transform: full-width;font-weight:bold;">Wedding photoshoot</h5>
        <div id="wedcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="../images/bride5.jpg"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="../images/bride3.jpg"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="../images/bride4.jpg"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="../images/bride5.jpg"></div>
								
                </div><!-- /item -->
                <div class="item">
                    <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="../images/bride5.jpg"></div>
                    <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="../images/prewed1.jpeg"></div>
                </div><!-- /item -->
            </div><!-- /carousel-inner -->
            <a class="left carousel-control" href="#wedcarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#wedcarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- /thumbcarousel -->
    </div><!-- /clearfix -->
    </div> <!-- /col-sm-6 -->
  
  </div> <!-- /row -->
</div> <!-- /container -->
    
</div>
    
</div>
<div class="baby">
    <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
     <div id="carousel" class="carousel slide" data-ride="carousel">
       <div class="clearfix">
            <h5 style="text-transform: full-width;font-weight:bold;">Kids/Babies Photography</h5>
        <div id="babycarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="../images/baby1.jpg"></div>
				
                    
                </div><!-- /item -->
                <div class="item">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="../images/baby1.jpg"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="../images/baby1.jpg"></div>
		
                </div><!-- /item -->
            </div><!-- /carousel-inner -->
            <a class="left carousel-control" href="#babycarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#babycarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- /thumbcarousel -->
    </div><!-- /clearfix -->
    </div> <!-- /col-sm-6 -->
  
  </div> <!-- /row -->
</div> <!-- /container -->
    
</div>
</div>
<div class="travel">
</div>
<div class="prewed">
</div>
     
</div>
<hr class="style-two">
    <div class="row text-center" style="text-align:top;position:relative;top:-33px;"><a href="javascript:void(0)" class=""><i class="fa fa-angle-double-down fa-1x arw" style="padding-top:0px;"></i><i class="fa fa-angle-double-up fa-1x" style="display:none;padding-top:0px;"></i> </a>
    </div>
</div>
 



<!-- <div ui-view ng-controller= "lWorksAppController"></div> -->
<!-- Navigation -->
<!-- Service Section -->

<section id="services">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Browse local professionals in your area</h3>
                    <p class="text-muted">Or find one who will travel to your destination</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Powerful filtering capabilities</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Competitive Prcing</h3>
                    <p class="text-muted">That suits everyone needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Collect your favorites</h3>
                    <p class="text-muted">Review and contact your favorites in one convenient place</p>
                </div>
            </div>
        </div>
</section>
<div class="bg-primary" id="about">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">We've got what you need!</h2>
              <hr class="light">
              <p class="text-faded">Luminoworks has everything you need to get professional service in no time! All of the services are free and easy to use. Happy LuminoWorking!</p>
              <a href="#services" class="page-scroll btn btn-default btn-xl">Get Started!</a>
          </div>
      </div>
</div>

<!--Footer Section-->
<lworks-footer></lworks-footer>


<script> 
$(document).ready(function(){
  
  $(".srvcmoreicon").click(function(){
    $(".srvlstContainer").stop().slideToggle("slow");
     }, function() {
    $(".srvlstContainer").stop().slideToggle("slow");
    if($('.srvlstContainer').height() != 0){ $(".fa-angle-double-down").show();$(".fa-angle-double-up").hide();}
    else{$(".fa-angle-double-up").show();  $(".fa-angle-double-down").hide();}
          
      });
    
   
    
    
});
    
</script>